/*!
 * @Copyright © 2019-2020 Isaac Marotte - All Rights Reserved
 *
 * This file is the sole property of its owner.
 * Unauthorized use of this file, via any medium or form, whole or in part,
 * is strictly prohibited without the expressed written permission of Isaac Marotte
 *
 * This file is proprietary and confidential
 *
 * Last Modified: 2020.7.10
 */

$color-text: rgb(75, 75, 75);
$color-background-global: rgb(250, 250, 250); // background of the entire page;

$color-border: rgba(86, 61, 124, 0.4);

$color-primary: #440bd4;
$color-primary-hover: #1b0557;
